{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block head_css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style-base-1.css" media="all"></link>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/article1.css" media="all"></link>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}about/css/about.css" media="all"></link>
{% endblock %}

{% block main %}
    <div class="block about">
        <article>
            {% if object %}
                {{ object.content|safe }}
            {% endif %}
        </article>
    </div>
{% endblock %}